$voter-width: 30px;
$comment-types: (
  pro: $brand-success,
  contra: $brand-danger,
  info: $brand-primary,
);

.comment-view {
  margin: 10px 0;
}

.comment-view-head {
  margin: 10px 0;
}

.comment-new {
  margin: 5px 0;

  .form-group {
    margin-bottom: 5px;
  }

  textarea {
    resize: vertical;
  }

  button,
  .btn-group {
    margin-bottom: 5px;
  }

  @each $name, $color in $comment-types {
    .comment-type-#{$name} {
      color: $color;
    }
  }
}

.comment-view-head-options {
  margin-left: 20px;
}

.comment-view-comments > ps-comment + ps-comment {
  display: block;
  margin-top: 5px;
}

.thread {
  overflow: hidden;
  position: relative;
  padding: 5px 0 0 0;

  .comment-responses {
    $border-width: 1px;
    border-left: $border-width solid #ccc;
    margin-left: ($voter-width - $border-width) / 2;
  }

  &.typed {
    padding-right: 5px;
    padding-bottom: 5px;
  }

  @each $name, $color in $comment-types {
    &.comment-type-#{$name} {
      background-color: rgba($color, .1);
      .comment-type-indicator {
        color: rgba($color, .2);
      }
    }
  }
}

.comment {
  position: relative;
  padding-left: $voter-width;
  min-height: 40px;
}

.comment-type-indicator {
  position: absolute;
  top: 0;
  right: 0;
}

.comment-vote {
  width: $voter-width;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #aaa;

  .comment-vote-score {
    font-size: $font-size-small;
  }

  .comment-vote-up,
  .comment-vote-down {
    cursor: pointer;
  }

  &.upvoted .comment-vote-up,
  &.downvoted .comment-vote-down {
    color: $brand-primary;
  }
}

.comment-footer {
  position: relative;
  font-size: $font-size-small;
}
