.filter-list-header {
  margin-bottom: 15px;

  h3 {
    margin-top: 6px;
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 0px;
    }
  }

  .clear-search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    height: $font-size-base;
    width: $font-size-base;
    font-size: $font-size-base;
    cursor: pointer;
    color: $input-border;
    z-index: 5;

    &:hover {
      color: $input-color;
    }
  }
}

.list-group {
  .no-results {
    font-size: $font-size-h1;
    font-weight: bolder;
    color: $gray-lighter;
    text-align: center;
  }
}
