.key {
  .key-heading {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $input-border;
  }
  .media:first-child {
    margin-top: 15px;
  }
  .media-heading {
    margin: 0;
    font-weight: bold;
  }
}
