$acceptance-color: $brand-success;
$resistance-color: $brand-danger;
$neutral-color: $brand-warning;


// Label colors for different resistance values
@for $i from 0 through 5 {
  .resistance-#{$i} {
    background-color: mix(
      $neutral-color,
      $acceptance-color,
      $weight: $i * 20%);
  }
}
@for $i from 6 through 10 {
  .resistance-#{$i} {
    background-color: mix(
      $resistance-color,
      $neutral-color,
      $weight: ($i - 5) * 20%);
  }
}


// Slider colors for different resistance values
.resistance-slider {
  background: $label-default-bg;

  @for $i from 0 through 10 {
    &.slider-value-#{$i} {
      background: linear-gradient(
        to right,
        $resistance-color $i * 10%,
        $acceptance-color $i * 10%);
    }
  }
}


// Style slider in different browsers
input[type='range'] {
  -webkit-appearance: none !important;
  padding: 0;
  height: 21px;
}

input[type='range']::-ms-track {
  height: 16px;
  background: transparent;
  border: none;

  // remove default tick marks
  color: transparent;
}

input[type=range]::-moz-range-track {
  border: none;
  background: transparent;
}

input[type='range']::-ms-fill-lower {
  outline: none;
  background: transparent;
}

// Solution list styles
.solution-container {

  .list-group-item-heading {
    cursor: pointer;
    margin-bottom: 15px;

    .pull-right {
      text-align: right;
      white-space: nowrap;
    }

    .label {
      padding-bottom: .2em;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .well p {
    margin: 0;
  }

  .progress {
    border-radius: 0;
  }
  .progress-bar[aria-valuenow="0"] {
    min-width: 0;
  }

}
