.state-info {
  font-size: 2em;
  font-weight: bold;
  color: rgba(black, .2);
  text-align: center;
}

.state-area-inline {
  display: inline-block;
  .state-info {
    font-size: 1em;
  }
  * {
    display: inline-block;
  }
}
