$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "messages";
@import "keys";
@import "solutions";
@import "issue";
@import "filter_list";
@import "state_area";
@import "comment_view";
@import "account_management_view";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  min-width: 320px;
  padding-top: 48px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// We only use interactive anchors
a {
  cursor: pointer;
}

// TODO change to class
#login {
  padding: 0;
  form {
    padding: 0 15px 15px 15px;
    margin: 0;
    input, button {
      margin-top: 15px;
    }
    button {
      width: 100%;
    }
  }
}

.group-info, .issue-info {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 20px;
  margin-bottom: 20px;

  .actions {
    a:hover {
      text-decoration: none;
    }
  }
}

.phase-badges {
  float: left;
  margin-right: 10px;
}

.hint {
  font-style: italic;
  color: #999;
}

.markdown-textarea {
  min-height: 200px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.help {
  h4 {
    margin-top: 40px;
  }
  blockquote {
    h4 {
      margin-top: 20px;
    }
  }
}
