<div class="thread comment-type-{{comment.solutionCommentType | lowercase}}" ng-class="{typed: !!comment.solutionCommentType}">

    <div class="comment-type-indicator" ng-if="comment.solutionCommentType">
      <span class="fa fa-fw fa-5x {{iconForType(comment.solutionCommentType)}}"></span>
    </div>

  <div class="comment">

    <div class="comment-vote" ng-class="{upvoted: comment.userVote === 'UP', downvoted: comment.userVote === 'DOWN', novote: comment.userVote === 'NEUTRAL' || comment.userVote === null }">
        <div ng-click="vote('UP')" class="comment-vote-up" ng-if="!readOnly"><span class="fa fa-plus-circle"></span></div>
        <div class="comment-vote-score" title="+{{comment.upVotes}} | -{{comment.downVotes}}">
          {{comment.upVotes > comment.downVotes ? '+' : ''}}{{comment.upVotes - comment.downVotes}}
        </div>
        <div ng-click="vote('DOWN')" class="comment-vote-down" ng-if="!readOnly"><span class="fa fa-minus-circle"></span></div>
    </div>

    <div class="comment-content">
      {{comment.content}}
    </div>

    <div class="comment-footer">
      <strong>{{comment.createdBy.alias}}</strong>
      <span am-time-ago="comment.createdDate"></span>.
      <a href ng-click="toggleReply()" ng-if="!readOnly" class="text-nowrap">
        <span class="fa fa-reply"></span> antworten
      </a>

      <div ng-if="comment.showReplyInput" class="comment-new">
        <div class="form-group">
          <textarea class="form-control" placeholder="Antwort schreiben..." ng-model="replyText"></textarea>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-default" ng-click="toggleReply()">Abbrechen</button>
          <button class="btn btn-primary" ng-click="postReply(replyText)">Abschicken</button>
        </div>
      </div>
    </div>

  </div>

  <div class="comment-responses">
    <ps-comment ng-repeat="response in comment.responses" comment="response" read-only="readOnly"></ps-comment>
  </div>

</div>
