<div class="comment-view">
  <ps-state-area state="state" message="message">

    <div class="comment-view-head">
      <span class="comment-view-head-line">
        <span class="fa fa-comment"></span> {{countComments(comments)}} {{comments.length === 1 ? 'Kommentar' : 'Kommentare'}}
      </span>
      <span class="comment-view-head-options">
        <span ng-show="collapsable">
          <a ng-click="collapsed = !collapsed">{{collapsed ? 'aufklappen' : 'einklappen'}} <span class="fa fa-caret-{{collapsed ? 'down' : 'up'}}"></span></a>
        </span>
        <span ng-show="typed">
          <span ng-repeat="typeFilter in typeFilters">
            <b ng-if="typeFilter === currentTypeFilter">{{typeFilter.name}} </b>
            <a ng-if="typeFilter !== currentTypeFilter" ng-click="setFilter(typeFilter)">{{typeFilter.name}} </a>
          </span>
        </span>
      </span>
    </div>

    <div ng-if="!collapsed" class="comment-view-comments">
      <ps-comment ng-repeat="comment in comments | filter:{solutionCommentType: currentTypeFilter.value}"
          comment="comment" read-only="readOnly">
      </ps-comment>
    </div>

    <form ng-if="!(collapsed || readOnly)" class="comment-new" ng-class="{typed: typed}">
      <div class="form-group">
        <textarea class="form-control" placeholder="Neuen Kommentar schreiben..." ng-model="newComment.content"></textarea>
      </div>

      <div class="form-group text-right">
        <div class="btn-group" data-toggle="buttons" ng-if="typed">
          <label ng-repeat="type in types" class="btn btn-default" ng-class="{active: newComment.solutionCommentType === type}">
            <input type="radio" ng-model="newComment.solutionCommentType" ng-value="type">
            <span class="fa {{iconForType(type)}} comment-type-{{type | lowercase}}"></span> {{type | title}}
          </label>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="postNewComment()" ng-disabled="!canPostComment()">
          <span ng-if="canPostComment()">Abschicken</span>
          <span ng-if="!canPostComment()">Wähle einen Typ aus</span>
        </button>
      </div>

    </form>
  </ps-state-area>
</div>
