<div class="input-group">

  <div class="input-group-btn" dropdown>
    <button type="button" class="btn btn-default dropdown-toggle">
      <span class="fa fa-filter"></span>
      {{activePreset.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="preset in presets" ng-class="{'active': preset === activePreset}">
        <a ng-click="activateByIndex($index)">{{preset.name}}</a>
      </li>
    </ul>
  </div>

  <span ng-click="clearQuery()" ng-if="query" class="clear-search fa fa-remove"></span>
  <input type="search" class="form-control" placeholder="Suchbegriff" ng-model="query" focus-on="filterQuery">

</div>
