<div class="input-group">

  <span ng-transclude></span>

  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="showPw = !showPw">
      <i class="fa" ng-class="{'fa-eye': !showPw, 'fa-eye-slash': showPw}"></i>
    </button>
  </span>

</div>
