<div class="state-info" ng-if="!showContent">
  <span ng-if="showAnimation"><span class="fa fa-spinner fa-spin"></span></span>
  <span ng-if="!showAnimation">{{ message ? message : state | caps }}</span>
</div>
<ng-transclude ng-if="showContent"></ng-transclude>
