<h1><strong>Thema {{isNew ? 'erstellen' : 'bearbeiten'}}</strong></h1>
<p ng-if="isNew">
  Zur Erstellung eines neuen Themas werden einige Daten benötigt.
  Um fortzufahren, fülle bitte das folgende Formular aus.
</p>
<p ng-if="!isNew">
  Bevor du dein Thema veröffentlichst, kannst du es hier noch einmal bearbeiten.
</p>
<form role="form" ng-submit="save()">

  <div class="form-group">
    <label for="title-input">Titel</label>
    <input type="text" id="title-input" class="form-control" ng-model="issue.title" maxlength="64" required
      placeholder="Titel des Themas">
  </div>

  <div class="form-group">
    <label for="desc-input">Beschreibung</label>
    <textarea id="desc-input" class="form-control markdown-textarea" rows="3" ng-model="issue.description"
      placeholder="Beschreibung des zu erstellenden Themas (optional)">
      </textarea>
      <p class="text-right hint">Hier kann <a ng-href="#/help/markdown" target="_blank">Markdown</a> verwendet werden.
        <a href ng-click="showMarkdownPreview()" ng-if="issue.description">Vorschau</a></p>
  </div>

  <div class="form-group panel panel-default">
    <div class="panel-heading">
      <strong>Ende der Phasen</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <!-- maxlength and placeholder invalid for datetime-local inputs -->
        <!-- added to give users without date pickers an idea of the required format -->
        <div class="form-group col-sm-5">
          <label class="control-label">Ende der Vorschlagsphase</label>
          <input type="datetime-local" class="form-control" ng-model="issue.solutionEndDate"
            maxlength="16" placeholder="YYYY-MM-DDThh:mm">
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label hidden-xs">Simultan</label>
          <button type="button" class="btn btn-block btn-default" ng-click="issue.voteEndDate = issue.solutionEndDate">
            <span class="fa fa-arrow-right hidden-xs"></span>
            <span class="visible-xs">
              <strong>Simultan</strong>
              <span class="fa fa-arrow-down"></span>
            </span>
          </button>
        </div>
        <div class="form-group col-sm-5">
          <label class="control-label">Ende der Entscheidungsphase</label>
          <input type="datetime-local" class="form-control" ng-model="issue.voteEndDate"
            maxlength="16" placeholder="YYYY-MM-DDThh:mm">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <button type="button" class="btn btn-block btn-danger" ng-click="abort()">
          Abbrechen
        </button>
      </div>
      <div class="col-xs-6 col-sm-4">
        <button type="submit" class="btn btn-block btn-success">
          Speichern
        </button>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br class="visible-xs">
        <button type="button" class="btn btn-block btn-primary" ng-click="publish()">
          Veröffentlichen
        </button>
      </div>
    </div>
  </div>
</form>
