<div class="row filter-list-header">
  <div class="filter-result col-sm-5">
    <h3>
      {{filtered | count:'Keine'}}
      {{filtered | ifOne:'Thema':'Themen'}}
    </h3>
  </div>
  <div class="filter-ctrl col-sm-7">
    <ps-filter-widget input="issues" output="filtered" presets="filterPresets">
    </ps-filter-widget>
  </div>
</div>

<div class="list-group issue-list">
  <div ng-if="!filtered.length" class="no-results list-group-item">
    Keine Ergebnisse
  </div>

  <a ng-href="#/group/{{group.id}}/issue/{{issue.id}}" class="list-group-item" ng-repeat="issue in filtered">
    <h3 class="list-group-item-heading">
      <span class="phase-badges">
        <ps-badge ng-repeat="icon in issue.phase.icons"
          icon="{{icon}}" color="{{issue.phase.color}}"></ps-badge>
      </span>
      {{issue.title}}
    </h3>
    <p>
      <strong>
        {{issue.phase.name === 'finished' ? 'Beste' : 'Führende'}} Lösung:
      </strong>
      {{issue.bestSolution}}
    </p>

    <div class="text-right">
      <span class="badge" title="Deadline für Lösungsvorschläge" ng-if="issue.state === 'UNPUBLISHED' || issue.state === 'OPEN'">
        <span class="fa fa-envelope"></span>
        <span am-time-ago="issue.solutionEndDate"></span>
      </span>
      <span class="badge" title="Ende der Abstimmung" ng-if="issue.state !== 'CLOSED'">
        <span class="fa fa-flag-checkered"></span>
        <span am-time-ago="issue.voteEndDate"></span>
      </span>
      <span class="badge" title="Teilnehmer">
        <span class="fa fa-user"></span>
        {{(issue.parcitipatedUserCount / group.memberCount) * 100 | number : 0}} %
      </span>
      <span class="badge" title="Lösungsvorschläge">
        <span class="fa fa-list"></span>
        {{issue.solutionCount}}
      </span>
    </div>
  </a>

  <a ng-href="#/group/{{group.id}}/newissue" class="list-group-item active text-center" ng-if="me.atLeastMember()">
    <span class="fa fa-plus"></span> Thema erstellen
  </a>
</div>

<ng-include src="'/views/issues/state_key.html'"></ng-include>

<pre ng-if="debug">
{{issues | json}}
</pre>
