<div class="key well">
  <h4 class="key-heading">Legende der Themenzustände</h4>

  <div class="row">
    <div class="col-sm-6 media">

      <div class="pull-left media-object">
        <ps-badge icon="inbox" color="muted" size="lg"></ps-badge>
      </div>

      <div class="media-body">
        Das Thema ist noch unveröffentlicht
      </div>

    </div>
    <div class="col-sm-6 media">

      <div class="pull-left media-object">
        <ps-badge icon="envelope" color="primary" size="lg"></ps-badge>
      </div>

      <div class="media-body">
        Einbringung von Lösungsvorschlägen ist möglich
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 media">

      <div class="pull-left media-object">
        <ps-badge icon="pencil-square-o" color="primary" size="lg"></ps-badge>
      </div>
      <div class="media-body">
        Abstimmung ist möglich
      </div>

    </div>
    <div class="col-sm-6 media">

      <div class="pull-left media-object">
        <ps-badge icon="flag-checkered" color="danger" size="lg"></ps-badge>
      </div>
      <div class="media-body">
        Dieses Thema ist abgeschlossen
      </div>

    </div>
  </div>

</div>
