<div class="issue-info">
  <h2 class="clearfix">
    <span class="actions pull-right">
      <a title="Thema bearbeiten" ng-href="#/group/{{issue.groupId}}/issue/{{issue.id}}/edit"
        ng-if="issue.state == 'UNPUBLISHED'">
        <span class="fa fa-pencil"></span>
      </a>
      <a title="Thema löschen" ng-click="openDeleteIssueDialog()"
        ng-if="me.atLeastModerator()">
        <span class="fa fa-trash-o"></span>
      </a>
    </span>

    <span class="phase-badges">
      <ps-badge ng-repeat="icon in issue.phase.icons"
        icon="{{icon}}" color="{{issue.phase.color}}"></ps-badge>
    </span>
    <strong>{{issue.title}}</strong>
  </h2>

  <div class="row">
    <div class="col-sm-6">
      <p btf-markdown="issue.description"></p>
      <h4 ng-if="issue.question">Übergeordnete Fragestellung</h4>
      <p ng-if="issue.question">{{issue.question}}</p>
      <h4 ng-if="issue.currentSolution">Bisherige Lösung</h4>
      <p ng-if="issue.currentSolution">{{issue.currentSolution}}</p>
    </div>

    <div class="issue-details col-sm-6">
      <table class="table table-condensed">
        <tr>
          <td>Erstellt von</td>
          <td>{{issue.createdBy.alias}}</td>
        </tr>
        <tr title="{{issue.startDate | amDateFormat:'LLL'}}">
          <td>Gestartet</td>
          <td>
            <span ng-if="issue.startDate !== null" am-time-ago="issue.startDate"></span>
            <span ng-if="issue.startDate === null">Noch nicht</span>
          </td>
        </tr>
        <tr title="{{issue.solutionEndDate | amDateFormat:'LLL'}}">
          <td>Deadline für Lösungs&shy;vorschläge</td>
          <td><span am-time-ago="issue.solutionEndDate"></span>
          </td>
        </tr>
        <tr title="{{issue.voteEndDate | amDateFormat:'LLL'}}">
          <td>Ende der Abstimmung</td>
          <td><span am-time-ago="issue.voteEndDate"></span>
          </td>
        </tr>
        <tr>
          <td>Bisherige Beteiligung</td>
          <td>
            {{issue.parcitipatedUserCount}} {{issue.parcitipatedUserCount | ifOne:'Person':'Personen'}}
            ({{groupParticitage()}}% der Gruppen&shy;mitglieder)
          </td>
        </tr>
      </table>
    </div>
  </div>
  <ps-comment-view url="{{apiPathIssue}}/comments" fetch="true"
      collapsable="true" collapsed="true" read-only="!me.atLeastMember()">
  </ps-comment-view>
</div>

<ng-include src="'/views/solutions/list.html'" ng-controller="SolutionsListCtrl"></ng-include>

<ng-include src="'/views/issues/state_key.html'"></ng-include>

<pre ng-if="debug">
{{issue | json}}
</pre>
<pre ng-if="debug">
{{solutions | json}}
</pre>
