<div class="footer">
  <p class="text-right">
    Free Software, hand-crafted with <span class="fa fa-heart"></span> in Germany.
    Contribute to the <a href="https://gitlab.com/banana-code/participation-frontend">client</a> and
    <a href="https://gitlab.com/banana-code/participation-backend">server</a>
    code to participate even more.
  </p>
</div>
