<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <span class="fa fa-slideshare fa-lg"></span>
        Participation Service
      </a>
    </div>
    <div class="navbar-collapse" collapse="nav.isCollapsed">

      <ng-include src="navTemplate()"></ng-include>

    </div><!--/.nav-collapse -->
  </div>
</div>

<ol class="breadcrumb">
  <li ng-repeat="bc in crumble.trail" ng-class="{active: $last}">
    <a ng-href="#{{bc.path}}" ng-if="!$last">{{bc.label}}</a>
    <span ng-if="$last">{{bc.label}}</span>
  </li>
</ol>
