<ul class="nav navbar-nav navbar-right">

  <li>

    <a href="#/register">
      <span class="fa fa-file-text"></span> Registrieren
    </a>

  </li>
  <li dropdown on-toggle="onToggleLogin(open)">

    <a class="dropdown-toggle">
      <span class="fa fa-sign-in"></span> Login <strong class="caret"></strong>
    </a>

    <ul class="dropdown-menu" id="login" ng-click="preventClose($event)">
      <li role="presentation">

        <form class="navbar-form navbar-right" ng-submit="login()" autocomplete="on" form-autofill-fix>
          <div class="form-group">
            <input type="email" class="form-control" ng-model="loginForm.email" placeholder="E-Mail"
              focus-on="loginEmail">
            <input type="password" class="form-control" ng-model="loginForm.password" placeholder="Passwort">
            <small><a href="#/forgotPassword" class="pull-right">Passwort vergessen?</a></small>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>

      </li>
    </ul>

  </li>

</ul>
