<ul class="nav navbar-nav navbar-right">

  <li ng-if="debug">
    <a ng-click="testMessage()"><span class="fa fa-send"></span> Testnachricht</a>
  </li>

  <li ng-if="session.user().isAdmin()">
    <a href="#/members"><span class="fa fa-list"></span> Mitgliederverwaltung</a>
  </li>

  <li>
    <a href="#/groups"><span class="fa fa-users"></span> Gruppen</a>
  </li>
  <li dropdown>
    <a class="dropdown-toggle">
      <span class="fa fa-user"></span> {{session.user().alias}} <strong class="caret"></strong>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#/groups?filter=my">Meine Gruppen</a>
      </li>
      <li>
        <a href="#/profile">Profil bearbeiten</a>
      </li>
      <li class="divider"></li>
      <li>
        <a ng-click="logout()"><span class="fa fa-sign-out"></span> Logout</a>
      </li>
    </ul>
  </li>

</ul>
