<div class="row">
  <div class="col-sm-12">
    <h1><strong>Gruppe {{isNew ? 'erstellen' : 'bearbeiten'}}</strong></h1>
    <p ng-if="isNew">
      Hier kannst du eine neue Gruppe erstellen.
      Du musst ihr nur einen Namen geben und schon kannst du loslegen.
      Damit Alle wissen um was es in der Gruppe geht, kannst du auch noch eine Beschreibung einfügen.
    </p>
    <p ng-if="!isNew">Hier kannst du deine Gruppe bearbeiten</p>

    <form role="form">
      <div class="form-group">
        <label for="name-input">Name</label>
        <input id="name-input" type="text" class="form-control" ng-model="group.title" placeholder="Name der Gruppe">
      </div>

      <div class="form-group">
        <label for="description-input">Beschreibung</label>
        <textarea id="description-input" class="form-control" name="description-input" rows="5"
          ng-model="group.description"
          placeholder="Gib eine Beschreibung für deine Gruppe ein (Optional)"></textarea>
      </div>

      <div class="panel panel-danger" ng-hide="isNew">
        <div class="panel-heading">
          <strong>Gruppe löschen</strong>
        </div>
        <div class="panel-body">
          <p>Das Löschen der Gruppe ist endgültig und kann nicht rückgängig gemacht werden.</p>
          <p ng-show="securityPhraseInput != securityPhrase">
            Um die Gruppe zu löschen tippe hier bitte <strong>"{{securityPhrase}}"</strong> ein.
          </p>
          <input type="text" class="form-control" ng-model="securityPhraseInput"
            ng-show="securityPhraseInput != securityPhrase">
          <button type="button" class="btn btn-block btn-danger" ng-click="delete()"
            ng-hide="securityPhraseInput != securityPhrase">
            Gruppe endgültig löschen
          </button>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-block btn-danger" type="button" ng-click="abort()">
              Abbrechen
            </button>
          </div>
          <div class="col-xs-6">
            <button type="submit" class="btn btn-block btn-success" ng-click="save()">
              {{isNew ? 'Erstellen' : 'Speichern'}}
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
