<div class="row filter-list-header">
  <div class="filter-result col-sm-5">
    <h3>
      {{filtered | count:'Keine'}}
      {{filtered | ifOne:'Gruppe':'Gruppen'}}
    </h3>
  </div>
  <div class="filter-ctrl col-sm-7">
    <ps-filter-widget input="groups" output="filtered" presets="filterPresets" active-preset="activePreset">
    </ps-filter-widget>
  </div>
</div>

<div class="list-group">
  <div ng-if="!filtered.length" class="no-results list-group-item">
    Keine Ergebnisse
  </div>

  <a ng-href="#/group/{{group.id}}" class="list-group-item" ng-repeat="group in filtered">
    <h3 class="list-group-item-heading">
      {{group.title}}
    </h3>
    <p ng-if="group.description">
      {{group.description}}
    </p>

    <div class="text-right">
      <span class="badge" title="Mitglieder">
        <span class="fa fa-users"></span> {{group.memberCount}}
      </span>
      <span class="badge" title="Themen">
        <span class="fa fa-comments"></span> {{group.issueCount}}
      </span>
    </div>
  </a>

  <a href="#/groups/new" class="list-group-item active text-center">
    <span class="fa fa-plus"></span> Gruppe erstellen
  </a>
</div>
