<div class="group-info">
  <h2>
    <span class="actions pull-right">
      <a title="Mitglieder" ng-if="me.atLeastMember() || session.user().isAdmin()" ng-href="#/group/{{group.id}}/members">
        <span class="fa fa-users"></span>
      </a>
      <a title="Einstellungen" ng-if="me.isOwner()" ng-href="#/group/{{group.id}}/edit">
        <span class="fa fa-cog"></span>
      </a>
      <a title="Gruppe löschen (als Admin)" ng-if="session.user().isAdmin()" ng-click="deleteGroup()">
        <span class="fa fa-trash-o"></span>
      </a>
    </span>

    <strong>{{group.title}}</strong>
  </h2>
  <p>{{group.description}}</p>
  <div class="well well-sm" ng-if="me.isUnknown()">
    <p>Du bist kein Mitglied dieser Gruppe.</p>
    <button class="btn btn-primary" ng-click="requestMembership()">Beitrittsanfrage stellen</button>
  </div>
  <div class="well well-sm" ng-if="me.isRequested()">
    <p>Du hast eine Beitrittsanfrage an diese Gruppe gestellt. Bitte warte bis die Anfrage bearbeitet wurde.</p>
    <button class="btn btn-danger" ng-click="leave()">Anfrage zurückziehen</button>
  </div>
  <div class="well well-sm" ng-if="me.isInvited()">
    <p>Du wurdest in diese Gruppe eingeladen.</p>
    <button class="btn btn-success" ng-click="acceptInvite()">Einladung annehmen</button>
    <button class="btn btn-danger" ng-click="leave()">Einladung ablehnen</button>
  </div>
</div>

<ng-include
  src="'/views/issues/list.html'"
  ng-controller="IssuesListCtrl"
  ng-if="me.atLeastMember() || session.user().isAdmin()">
</ng-include>

<pre ng-if="debug">
{{group | json}}
</pre>
