<div class="row">
  <div class="col-sm-12">
    <h1><strong>Account aktivieren</strong></h1>
    <form name="auth" role="form" ng-submit="tryActivate()">
      <p>
        Dir wurde eine E-Mail mit einem Bestätigungscode zugesendet.
      </p>
      <p>
        Bitte trage den Code hier ein oder folge dem Link in der E-Mail.
      </p>
      <div class="form-group">
        <label for="code-input">Bestätigungscode</label>
        <input type="text" class="form-control" id="code-input" ng-model="key" required
        placeholder="Bestätigungscode" focus-on="codeInput">
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">
          Aktivieren
        </button>
      </div>
    </form>
  </div>
</div>
