<div class="row">
  <div class="col-sm-12">
    <h1><strong>Passwort vergessen</strong></h1>
    <form name="auth" role="form" ng-submit="tryRequest(email)">
      <p>
        Falls du dein Passwort vergessen haben solltest können wir dir eine E-Mail mit einem Bestätigungscode zusenden.
      </p>
      <p>
        Mit diesem Code hast du dann die Möglichkeit dein Passwort zurückzusetzen.
      </p>
      <div class="form-group">
        <label for="mail-input">E-Mail</label>
        <input type="email" class="form-control" id="mail-input" ng-model="email" required
        placeholder="E-Mail" focus-on="mailInput" autocomplete="off">
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">
          Rücksetzung beantragen
        </button>
      </div>
    </form>
  </div>
</div>
