<div class="jumbotron">
  <h1>Systemisches Konsensieren</h1>
  <p class="lead">
    Sei nicht von vorgestern und erlebe das bessere Morgen schon Heute!
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="{{session.loggedIn() ? '#' + homeLoggedIn : '#/register'}}">
      Beteilige Dich jetzt!
    </a>
  </p>
</div>

<div class="row marketing">
  <blockquote>
    Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
    <small class="pull-right">Martin Golding</small>
  </blockquote>
</div>
