<div class="filter-list-header">
  <div class="input-group">
    <span class="input-group-addon" id="alias-addon"><span class="fa fa-filter"></span> Filter:</span>
    <input type="text" class="form-control" placeholder="Alias des Nutzers"
      ng-model="prefix" ng-change="getAccounts()" aria-describedby="alias-addon">
  </div>
</div>

<div>
  <table class="account-table table table-striped">
    <tr>
      <th>Alias</th>
      <th>E-Mail</th>
      <th>ID</th>
      <th>Zustand</th>
      <th>Funktionen</th>
    </tr>
    <tr ng-repeat="account in fetchedAccounts | orderBy : 'user.alias'">
      <td>{{account.user.alias}}</td>
      <td>{{account.email}}</td>
      <td>{{account.id}}</td>
      <td>
        <ps-badge size="lg"
            icon="{{getUtils(account).state.icon}}"
            color="{{getUtils(account).state.color}}"
            title="{{getUtils(account).state.title}}">
        </ps-badge>
      </td>
      <td>
        <button ng-click="getUtils(account).admin.fcn(account)"
            class="btn btn-{{getUtils(account).admin.color}}"
            title="{{getUtils(account).admin.title}}">
          <span class="{{getUtils(account).admin.icon}}" ></span>
        </button>
        <button ng-click="getUtils(account).lock.fcn(account)"
            class="btn btn-{{getUtils(account).lock.color}}"
            title="{{getUtils(account).lock.title}}">
          <span class="{{getUtils(account).lock.icon}}"></span>
        </button>
      </td>
    </tr>
  </table>
  <div ng-if="!fetchedAccounts.length" class="no-results list-group-item">
    Keine Ergebnisse
  </div>
</div>
