<h1><strong>Profil bearbeiten</strong></h1>
<div class="well well-sm">
  <strong> E-Mail: </strong>
  {{session.user().email}}
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>Pseudonym ändern</strong>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="alias" ng-model="alias" placeholder="Neues Pseudonym">
            </div>
          </div>
          <div class="spacer-49 hidden-sm hidden-xs">
          </div>
          <div class="form-group last-horizontal">
            <div class="col-md-12">
              <button type="submit" class="btn btn-block btn-primary" ng-click="saveAlias()">
                Speichern
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <strong>Passwort ändern</strong>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-md-12">
              <ps-pw-toggle>
                <input ng-model="passwords.old" placeholder="Aktuelles Passwort">
              </ps-pw-toggle>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <ps-pw-toggle>
                <input ng-model="passwords.new" placeholder="Neues Passwort">
              </ps-pw-toggle>
            </div>
          </div>
          <div class="form-group last-horizontal">
            <div class="col-md-12">
              <button type="submit" class="btn btn-block btn-danger" ng-click="savePassword()">
                Speichern
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
