<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">{{question}}</h4>
</div>

<div class="modal-body">
  <p>
    Bitte klicke doppelt um die gewünschte Aktion auszuführen.
  </p>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-block btn-danger" ps-double-click="$close()">
        Ja
      </button>
    </div>
  </div>
</div>
