<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">Markdown Vorschau</h4>
</div>

<div class="modal-body">
  <p btf-markdown="markdown"></p>
</div>
