<div class="row">
  <div class="col-sm-12">
    <h1><strong>Registrierung</strong></h1>
    <form name="auth" role="form" ng-submit="submit(regForm.mail, regForm.alias, regForm.pw)">
      <p>Bitte gib die Daten ein, die für deine Registrierung benötigt werden.</p>
      <div class="form-group">
        <label for="email-input">E-Mail-Adresse</label>
        <input type="email" class="form-control" id="email-input" ng-model="regForm.mail" required
          placeholder="E-Mail-Adresse" focus-on="registerEmail">
      </div>
      <div class="form-group">
        <label for="alias-input">Pseudonym</label>
        <input type="text" class="form-control" id="alias-input" ng-model="regForm.alias" required
          placeholder="Pseudonym">
      </div>
      <div class="form-group">
        <label for="password-input">Passwort</label>
        <ps-pw-toggle>
          <input id="password-input" ng-model="regForm.pw" required placeholder="Passwort">
        </ps-pw-toggle>
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">
          Registrieren
          <span class="fa fa-arrow-right"></span>
        </button>
      </div>
    </form>
  </div>
</div>
