<div class="row">
  <div class="col-sm-12">
    <h1><strong>Passwort zurücksetzen</strong></h1>
    <form name="auth" role="form" ng-submit="tryReset()">
      <p>
        Wir haben dir eine E-Mail mit einem Bestätigungscode zugesendet.
      </p>
      <p>
        Um dein Passwort zurückzusetzen trage den Code hier ein (oder folge dem Link in der E-Mail) und gib ein neues Passwort an.
      </p>
      <div class="form-group">
        <label for="code-input">Bestätigungscode</label>
        <input type="text" class="form-control" id="code-input" ng-model="data.key" required
        placeholder="Bestätigungscode" focus-on="codeInput" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="code-input">Neues Passwort</label>
        <ps-pw-toggle>
          <input type="password" class="form-control" id="password-input" ng-model="data.newPassword" required
          placeholder="Neues Passwort" focus-on="passwordInput" autocomplete="off">
        </ps-pw-toggle>
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">
          Passwort zurücksetzen
        </button>
      </div>
    </form>
  </div>
</div>
