<div class="row filter-list-header">
  <div class="filter-result col-sm-6">
    <h3>
      {{filtered | count:'Keine'}}
      {{filtered | ifOne:'Lösungsvorschlag':'Lösungsvorschläge'}}

      <a title="Informationen erneut abrufen" ng-click="fetchSolutions()"
        ng-if="issue.state === 'OPEN' || issue.state === 'VOTE_ONLY'">
        <span class="fa fa-refresh" ng-class="{'fa-spin': loading}"></span>
      </a>
    </h3>
  </div>
  <div class="filter-ctrl col-sm-6">
    <ps-filter-widget input="solutions" output="filtered" presets="filterPresets">
    </ps-filter-widget>
  </div>
</div>

<div class="list-group solution-container">
  <div ng-if="!filtered.length" class="no-results list-group-item">
    Keine Ergebnisse
  </div>

  <div class="list-group-item" ng-repeat="solution in filtered | orderBy:'resistance'">

    <h3 class="list-group-item-heading clearfix" ng-click="toggleSolution(solution)">

      <span class="pull-right" ng-if="me.atLeastMember()">
        <small class="hidden-xs">Mein Widerstand</small>
        <span class="label label-default resistance-{{solution.userResistance}}">
          {{solution.userResistance === null ? '-' : solution.userResistance}}
        </span>
      </span>

      <span class="fa fa-chevron-{{solution.opened ? 'up' : 'down'}}"></span>
      {{solution.title}}
    </h3>

    <div class="form-group">
      <input type="range" min="0" max="10" ng-model="solution.userResistance"
        class="resistance-slider slider-value-{{solution.userResistance}}"
        ng-if="issue.phase.name !== 'finished' && me.atLeastMember()"
        ng-change="updateResistance(solution)">
    </div>

    <progress>
      <bar type="danger" value="resistage()">
        <span ng-hide="resistage() < 5">{{resistage()}}% Widerstand</span>
      </bar>
      <bar type="success" value="acceptage()">
        <span ng-hide="acceptage() < 5">{{acceptage()}}% Akzeptanz</span>
      </bar>
    </progress>

    <p btf-markdown="solution.description" collapse="!solution.description || !solution.opened" >
    </p>

    <div collapse="!solution.opened" class="solution-body">
      <ps-comment-view url="{{apiPathIssue}}/solutions/{{solution.id}}/comments"
          fetch="solution.fetchComments" typed="true" read-only="!me.atLeastMember()">
      </ps-comment-view>
      <div class="well well-sm">
        <p>
          Für diesen Lösungsvorschlag haben bisher abgestimmt:
          {{solution.voteCount}} {{solution.voteCount | ifOne:'Person':'Personen'}}
          ({{solutionParticitage()}}% der Beteiligten)
        </p>
        <p>
          Erstellt von <strong>{{solution.createdBy.alias}}</strong>
          <span am-time-ago="solution.createdDate"></span>.

          <a title="Lösungsvorschlag löschen" ng-click="openDeleteSolutionDialog(solution)"
            ng-if="me.atLeastModerator() && issue.zeroOptionID != solution.id">
            <span class="fa fa-trash-o"></span>
          </a>
        </p>
      </div>
    </div>

  </div>

  <a ng-href="#/group/{{issue.groupId}}/issue/{{issue.id}}/newsolution" class="list-group-item active text-center"
    ng-if="(issue.state === 'UNPUBLISHED' || issue.state === 'OPEN') && me.atLeastMember()">
    <span class="fa fa-plus"></span> Lösungsvorschlag hinzufügen
  </a>

</div>
