<div class="row">
  <div class="col-sm-12">
    <h1>Neuen Lösungsvorschlag erstellen</h1>
    <p>
      Wählen Sie einen aussagekräftigen Titel und eine gute Beschreibung für Ihren Lösungsvorschlag.
    </p>

    <form name="new-solution" role="form" ng-submit="submit()">

      <div class="form-group">
        <label for="name-input">Titel</label>
        <input type="text" id="name-input" class="form-control" name="name-input" ng-model="solution.title"
          placeholder="Titel des Lösungsvorschlags">
      </div>

      <div class="form-group">
        <label for="description-input">Beschreibung</label>
        <textarea id="description-input" class="form-control markdown-textarea" name="description-input" rows="5"
          ng-model="solution.description"
          placeholder="Geben Sie eine Beschreibung für den Lösungsvorschlag ein (Optional)"></textarea>
          <p class="text-right hint">Hier kann <a ng-href="#/help/markdown" target="_blank">Markdown</a> verwendet werden.
            <a href ng-click="showMarkdownPreview()" ng-if="solution.description">Vorschau</a></p>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-block btn-danger" type="button" ng-click="abort()">Abbrechen</button>
          </div>
          <div class="col-xs-6">
            <button type="submit" class="btn btn-block btn-success">Erstellen</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
