<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">
    Mitgliedschaft von <strong>{{selectedMember.user.alias}}</strong>
  </h4>
</div>

<div class="modal-body">

  <form class="form-horizontal" role="form" ng-if="showStateChange()">
    <div class="form-group">
      <label class="col-sm-3 control-label">Status</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="selectedMember.state"
          ng-change="saveState()"
          ng-options="mt.localStateName(state) for state in ['OWNER', 'MODERATOR', 'MEMBER']">
        </select>
      </div>
    </div>
    <hr>
  </form>

  <p>
    Diese Aktion kannst du <strong>nicht</strong> rückgängig machen.<br>
    Bitte klicke doppelt um die gewünschte Aktion auszuführen.
  </p>

  <div ng-if="showResignButton()">
    <button class="btn btn-block btn-warning" ps-double-click="$close('downgrade')">
      {{me.isOwner() ? 'Gruppeneignerschaft abtreten' : 'Moderatorenstatus abgeben'}}
    </button>
  </div>

  <div>
    <button class="btn btn-block btn-danger" ps-double-click="$close('delete')">
      {{isMe() ? 'Aus Gruppe austreten' : 'Aus Gruppe entfernen'}}
    </button>
  </div>

</div>

<div class="modal-footer">

  <div>
    <button class="btn btn-primary" ng-click="$dismiss()">
      Schließen
    </button>
  </div>

</div>
