<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">Person einladen</h4>
</div>

<form ng-submit="invite()">
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="Alias des Nutzers"
      ng-model="invite.user" focus-on="invitationInput"
      typeahead="user as user.alias for user in findUsersByAlias($viewValue)">
  </div>
  <div class="modal-footer">
    <button type="submit" ng-disabled="!invite.user" class="btn btn-primary">Einladen</button>
  </div>
</form>
