<div class="row filter-list-header">
  <div class="filter-result col-sm-5">
    <h3>
      {{filtered | count:'Keine'}}
      {{filtered | ifOne:'Mitglied':'Mitglieder'}}
    </h3>
  </div>
  <div class="filter-ctrl col-sm-7">
    <ps-filter-widget input="members" output="filtered" presets="filterPresets()">
    </ps-filter-widget>
  </div>
</div>

<div class="list-group">
  <div ng-if="!filtered.length" class="no-results list-group-item">
    Keine Ergebnisse
  </div>

  <div class="list-group-item"
    ng-repeat="member in filtered | orderBy:['getRanking()', '-createdDate']:true">

    <h3 class="list-group-item-heading">
      <ps-badge icon="star" color="warning" ng-if="member.isOwner()"></ps-badge>
      <ps-badge icon="star-half-empty" color="muted" ng-if="member.isModerator()"></ps-badge>
      {{member.user.alias}}

      <span class="pull-right">
        <a title="Mitgliedschaft bearbeiten" ng-if="meCanEdit(member)" ng-click="edit(member)">
            <span class="fa fa-cog"></span>
        </a>

        <span ng-if="meMod()">
          <a title="Einladung zurücknehmen" ng-if="member.isInvited()" ng-click="delete(member)">
            <span class="fa fa-times text-danger"></span>
          </a>

          <span ng-if="member.isRequested()">
            <a title="Annehmen" ng-click="updateState(member, 'MEMBER')">
              <span class="fa fa-check text-success"></span>
            </a>
            <a title="Ablehnen" ng-click="delete(member)">
              <span class="fa fa-times text-danger"></span>
            </a>
          </span>
        </span>

      </span>
    </h3>

  </div>

  <a class="list-group-item active text-center" ng-click="showInviteDialog()" ng-if="meMod()">
    <span class="fa fa-plus"></span> Person einladen
  </a>

</div>

<ng-include src="'/views/members/state_key.html'"></ng-include>

<pre ng-if="debug">
{{group | json}}
</pre><pre ng-if="debug">
{{members | json}}
</pre>
