<div class="key well">
  <h4 class="key-heading">Legende der Nutzerrollen</h4>

  <div class="row">
    <div class="col-sm-6 media">

      <div class="pull-left media-object">
        <ps-badge icon="star" color="warning" size="lg"></ps-badge>
      </div>

      <div class="media-body">
        <h5 class="media-heading">Gruppeneigner</h5>
        Er kann viele tolle Sachen
      </div>

    </div>
    <div class="col-sm-6 media">

      <div class="pull-left media-object">
        <ps-badge icon="star-half-empty" color="muted" size="lg"></ps-badge>
      </div>

      <div class="media-body">
        <h5 class="media-heading">Moderator</h5>
        Er kann nicht ganz so viele tolle Sachen
      </div>

    </div>
  </div>
</div>
